/* selectores de etiqueta */
h1{
    color:peru;
    font-family: Arial;

}

p {
    font-style: italic;
    font-family: 'Times New Roman' ;
}

/* selectores de clase, son muy comunes */
.importante{
    background-color: aquamarine;
}
.importante2{
    background-color: yellowgreen;
}
.subrayado{
    text-decoration: underline;
    background-color: khaki;
}

/* selector de id */
#introduccion{
    font-size: 19px;
    
}

/* poder jugar con la estrutura y unos operadores que me van a permitir jugar */
/* Hace referemcoa a los primeros elemntos hijos */
ul > li{
    color: blue;
    text-decoration: underline;
}
/* selector , todos los elemntos hijos sin distincion. Todos los li que esten dentro de un ul */
ul li{
    font-weight: bold;
}

/* ~ , para seleccionar hermanos, que estan a su msimo nivel son considerados hermanos por el tipo o se puede usar el comodin para todos "*" */
.contenido ~ div{
border: 2px solid peru;
}


/* tablas */
/* la "," es como un y td y th */
table, th, td{
    border:2px solid blue;
}

/* Pseudoclases */


/* lo que hace el nth-of-type (even u odd) es para seleccionar los que son pares o impares y de acuerdo a eso asignarle propiedades*/
/* even es par */
tr:nth-of-type(even){
    background-color: gray;
}

/* odd es impar */
tr:nth-of-type(odd){
    background-color: aquamarine;
}

/* hover es para cuando se pone sobre encima del item, osea cuando pasamos el mouse por encima */
/* cursor para  cambiar el icono del cursor*/
tr:hover{
    background-color: skyblue;
    cursor: pointer;
}

/* es  para que los elementos article que sean hermanos, puede darse un numero, y ba a buscar uno que conincida con ese numero */
article:nth-child(2){
background-color: chocolate;
}