 /* RESET */
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* temporal para identificar nuestras etiquetas*/
    border: 1px solid red;
 }

 header{
text-align: center;
 }

 h1{
    /* un ancho maximo a diferencia de width que limita que no se extienda al contenedor*/
    max-width: 1024px;
    margin: 30px auto;
    font-family: "Fraunces", "Serif";
    font-size: 300;

 }

 p{
    max-width: 720px;
    margin: 10px auto;
      /* En caso no encuentre una fuente saltara a la siguiente */
      font-family: Arial, Helvetica, sans-serif;
 }
 button{
    margin-top:10px;
    margin-bottom: 30px;
 }
 small{
    margin: 40px 0 0 0 ;
    display: block;
    /* En caso no encuentre una fuente saltara a la siguiente */
    font-family: Arial, Helvetica, sans-serif;
 }

 img{
    width: 100%;
 }

 .contenedor{
    max-width: 1200px;
    /* margin, padding */
    /* cuando damos 02 valores, arriba abajo */
    /* margin: 20px 40px; */
    
    
    /* cuando damos 04 valores, arriba derecha abajo izquierda */
    /* margin: 10 px 20px 30px 40px; */
    /* margin: 10px 20px 30px 40px; */

    /* margin 0 arriba y abajo, y auto izquierda y derecho */
    margin: 0 auto;
 }
 
.btn-principal{
    min-width: 100px;
    padding: 10px 15px;
    border-radius: 20px;
    border:1px solid black;
    background-color: white;
}
.btn-secundario{
    min-width: 100px;
    padding: 10px 15px;
    border-radius: 20px;
    border:1px solid black;
    background-color: black;
    color: white;
}
.table-info{
   font-family: Arial, Helvetica;
   width: 100%;
   /* border collapse es para quitar espaciado de la tabla entre celdas */
   border-collapse: collapse;
}
.table-info td{
   padding: 20px;
}

/* esto significa de .table-info todos los hijos que sean tr impares y de esos tr impares todos los td que tengan un fondo amarillo */
.table-info tr:nth-of-type(odd) td{
   /* hexadecimales #RRGGBB 0--->F */
background-color: #FED501;
/* background-color: rgb(244, 208, 63); */
/* Hue, Saturation, Lightness */
/* Matiz, Saturacion, Luminosidad */
/* background-color: hsl(49, 100%, 59%,1); */
border-radius: 20px;

}
/* de .table-info todos los hijos que sean tr impares y de esos tr impares todos los td que sean primeros hijos */
/* nth-of-type(odd, even, 1, 2 ,3 ,4 ... */
.table-info tr:nth-of-type(odd) td:nth-of-type(1){
   border-radius:10px 0 0 10px;
 }
 /* de .table-info todos los hijos que sean tr impares y de esos tr impares todos los td que sean ultimos */
 .table-info tr:nth-of-type(odd) td:last-of-type{
   border-radius:0 10px 10px 0;
 }
 
 section {
   padding: 60px;
 }