* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
}

main{
    /* max-width: 1200px; */
    
    border: 8px solid rgb(135, 235, 157); 
    display: flex;

    justify-content: space-between;
}
.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border: 4px solid skyblue;
    justify-content:space-between;
}
/* .texto-version{
    border: 4px solid green;
} */
.texto-resaltado{
    color: orangered;
}
.titulo{
    margin-top: 20px;
    margin-bottom: 30px;
}
.texto-version{
    margin-top: 30px;
    margin-bottom: 20px;
}
.version{
    margin: 0px;
    color: darkslategrey;
}
.imagen{
    display: flex;
    background-color: orangered;
    text-align: center;
    width: 30%;
    flex-direction: column;
    align-items: center;
    
}
.img-mujer{
    width: 80%;
    padding: 20px;
    margin-top: 30px;
}
.p-titulo{
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
}
.p-subtitulo{
    color: rgba(240, 248, 255, 0.832);
    font-size: 14px;
    padding: 10px;
}
.img-puntos{
    width: 40px;
    margin: 15px;
}

.imagen-boton{
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
    border-radius:10px;
    margin-bottom: 20px;
    width: 80%;

}

.formulario{
   
    width: 30%;
    flex-direction: row;
    align-items: center;
}
